doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #header
        a(href='/')
          img(id='img_logo', src='/images/hotnotes.png', alt='HotNotes')
      #content
        block content
      #footer Jonathan