body {
  padding: 1%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
    position: relative;
    left: 10%;
    width: 80%;
    background-color: black;
    color: white;
}

#footer {
    width: 100%;
    background-color: darkslategrey;
    color: silver;
    font-size: x-small;
}

#header #content #footer {
    padding-left: 2%;
    padding-right: 2%;
}

#img_logo {
    position: relative;
    width: 50%;
    left: 25%;
}