#content
{
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.form-input
{
    margin-left: 5em;
    margin-right: 5em;
}

.form-left-column
{
    clear: both;
    float: left;
}

.form-right-column
{
    float: right;
}

.title
{
    text-align: center;
}