body
{
    border: none;
}

#container
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

hgroup.title
{
    color: black;
}

footer
{
    background-color: transparent;
}

.template-block
{
    margin: 0.5em;
    padding: 1em 1em 0.5em 1em;
    /*border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;*/
    background-color: #A0A0A0;
}

#footer-div
{
    text-align: center;
    /*color: #505050;
    background-color: Black;*/
}

#navigation-div
{
    float: right;
    width: 70%;
    background-color: Aqua;
    text-align: right;
    border-radius: 0.5em;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

ul#menu
{
    float: left;
    text-align: left;
}

#content
{
    width: 66%;
    float: left;
}

div#body
{
    background-color: transparent;
}

#content
{
    margin-left: 0.25em;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

#sections
{
    list-style: none;
    margin-left: -0.5em;
    margin-right: -0.5em;
}

#sections > li
{
    margin-bottom: 0.5em;
    padding: 0.35em;
    border-radius: 0.5em;
    background-color: Aqua;
    font-family: Franklin Gothic Medium, Sans-Serif;
    font-size: medium;
}

#sections > li:hover
{
    background-color: #f0f0f0;
}

#sections a:hover
{
    text-decoration: none;
    background-color: transparent;
}

#menuLang
{
    margin-top: 0.5em;
}